<div class="contentSidebar">
  <div class="fxstreet">
    <img src="assets/img/vector_f.png" alt="" class="f">
    <img src="assets/img/vector_x.png" alt="" class="x">
    <img src="assets/img/vector_s.png" alt="" class="s">
    <img src="assets/img/vector_t.png" alt="" class="t">
    <img src="assets/img/vector_r.png" alt="" class="r">
    <img src="assets/img/vector_e.png" alt="" class="e">
    <img src="assets/img/vector_e.png" alt="" class="e">
    <img src="assets/img/vector_t.png" alt="" class="t">
  </div>

  <div><img src="assets/img/union.png" alt="" id="premium"></div>
  <div class="menus" id="menu1"></div>
  <div class="menus" id="m2"></div>
  <div class="menus" id="m3"></div>
  <div class="menus" id="m4"></div>
  <div class="menus" id="m5"></div>
</div>
